.active {
  font-weight: bold;
}
.hero {
  height: 800px;
  text-align: center;
  color: white;
  padding: 175px 0;
  background-image: url("./images/J159.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1,
h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 95%;
  letter-spacing: 0.1em;
}

.hero h1 {
  font-size: 72px;
  line-height: 1.5;
}

.hero h2 {
  font-size: 24px;
  line-height: 1.5;
}

.btn-branding {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #282323;
  background: white;
  border-radius: 25px;
  padding: 10px 30px;
  transition: all 150ms ease-in-out;
  margin-top: 10px;
}

.btn-branding:hover {
  color: white;
  background: #282323;
  border: 1px solid white;
}

.gallery {
  background: white;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px;
  margin-bottom: 0;
}

section li {
  height: 40vh;
  flex-grow: 1;
  padding: 10px;
}

section li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

nav {
  padding: 10px 75px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background: black;
}

nav ul {
  list-style: none;
}
nav li {
  display: inline;
  line-height: 80px;
  margin-left: 35px;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
  transition: all 150ms ease-in-out;
}

nav a:hover {
  font-weight: bold;
  cursor: pointer;
  color: white;
}

footer {
  background: black;
  height: 100px;
}
